body{
    background-size: cover;
}
.heading{
    font-size:20px;
    width:100%;
    margin:0px;
    box-shadow:8px 8px 10px gray ;
}
.copy_right_footer{
    bottom:0;
    width:100%;
    position:fixed;
    background-color: gray;
    font-size: medium;
    text-align: center;
    color: white;
    font-size:20px;
}
#start{
    font-size: 20px;
}
#staus, #num_of_object{
font-size: 15px;
color: rgb(0, 0, 0);
}
canvas{
    border: 3px solid black;
    box-shadow: 8px 8px 25px white;
}